<!--Confernce Form-->
<div class="row form-title">
  <h3 class="form-title-name col-12">Paper <%= title %></h3>
</div>

<%= render "shared/validation", object: @paper%>

<div class="form-main">
  <%= form_with model: @paper, url: path, id: 'new_paper', class: 'new_paper', local: true do |f| %>
    <%= markup do |m|
      p = FormPresenter.new(f, self)

      m << p.text_field_block(:title, "Title", {placeholder: "論文タイトル"})
      m << p.text_area_block(:abstract, "Abstract", {rows:10})
      m << p.file_field_block(:figure, "Typical Figure")
      m << p.text_field_block(:linkpath, "link", {placeholder: "論文リンク"})

    end %>
    
    <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="form-main-submit">
    <%= f.submit "登録", class:"btn btn-primary col-6"%>
  </div>

  <% end %>
</div>

<div class="row other-link">
  <%= link_to "論文一覧に戻る", public_user_user_papers_path(@user.login_id), class:"col-12" %>
</div>