<!--Confernce Form-->
<div class="row form-title">
  <h3 class="form-title-name col-12">Project <%= title %></h3>
</div>

<div class="form-main">
  <%= form_with model: @project, url: path, id: 'new_project', class: 'new_project', local: true do |f| %>
    <%= markup do |m|
      p = FormPresenter.new(f, self)

      m << p.text_field_block(:title, "Title")
      m << p.date_field_block(:start_date, "開始日")
      m << p.date_field_block(:end_date, "終了日")
      m << p.text_field_block(:funding, "配分総額", {placeholder: "1000000"})
      m << p.text_field_block(:position, "担当", {placeholder: "研究代表者/分担者 etc"})
      m << p.text_field_block(:linkpath, "link", {placeholder: "公式リンク"})

    end %>

    <%= f.hidden_field :laboratory_id, :value => @set_laboratory.id %>

  <div class="form-main-submit">
    <%= f.submit "登録", class:"btn btn-primary col-6"%>
  </div>

  <% end %>
</div>

<div class="row other-link">
  <%= link_to "Project 一覧に戻る", public_laboratory_projects_path(@set_laboratory.id), class:"col-12" %>
</div>