<div class="lab-nav">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <%= link_to "Home", public_laboratory_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Member", public_laboratory_member_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Paper", public_laboratory_papers_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Confernce", public_laboratory_confernces_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Projects", public_laboratory_projects_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Albums", public_laboratory_albums_path(@set_laboratory.id), class:"nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Access</a>
    </li>
  </ul>
</div>

