<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<div class="container container-page">
  <div class="row rowbox content-title">
    <i class="fas fa-3x fa-vial icon"></i>
    <h2 class="page-title">Laboratory 一覧</h2>
  </div>

  <div class="row rowbox">
    <table class="table">
      <thead>
        <tr>
          <th>研究室名</th>
          <th>所属</th>
          <th>メンバー数</th>
          <th>論文数</th>
        </tr>
      </thead>
      <tbody>
        <% @laboratories.each do |laboratory| %>
          <td><%= link_to laboratory.name, public_laboratory_path(laboratory.id) %></td>
          <td><%= laboratory.organization.name %></td>
          <td><%= link_to LabMember.where(laboratory_id: laboratory.id).size, public_laboratory_member_path(laboratory_id: laboratory.id) %></td>
          <td><%= link_to Paper.where(laboratory_id: laboratory.id).size, public_laboratory_papers_path(laboratory_id: laboratory.id) %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>