<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<!--menu設定-->
<%= render "public/laboratories/tips/menu" %>

<div class="lab-top-image">
  <%= render "public/laboratories/tips/show/slideshow" %>
</div>

<div class="container container-page">
  <!--About-->
  <div class="row rowbox about">
    <%= render "public/laboratories/tips/show/about" %>
  </div>

  <!--Press Release-->
  <div class="row rowbox press-release">
    <%= render "public/laboratories/tips/show/press_release" %>
  </div>
</div>