<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<!--menu設定-->
<%= render "public/laboratories/tips/menu" %>

<!--Conference Show-->
<div class="container container-page">
  <!--Title-->
  <div class="row show-title content-top underline">
    <div class="content-title col-10">
      <h3 class="content-title-name"><%= @confernce.title %></h3>
    </div>
    <div>
      <%= render "shared/favorite", type: "Confernce", deliverable: @confernce %>
      <% if user_signed_in? && current_user.user_has_edit_status?(@set_laboratory) %>
        <%= link_to "編集", edit_public_laboratory_confernce_path(@set_laboratory.id, @confernce.id), class:"btn btn-primary content-title-btn" %>
      <% end %>
    </div>
  </div>

  <!--Main-->
  <div class="row rowbox">
    <div class="content-main">
      <p class="content-main-text"><%= @confernce.abstract %></p>
      <% if @confernce.figure.attached? %>
        <div class="content-main-figure">
          <%= image_tag @confernce.figure %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Link-->
<div class="container content-link">
  <div class="row news-link">
    <%= link_to @set_laboratory.name , public_laboratory_path(@set_laboratory.id), class:"news-index-link" %>
    <%= "　＞　" %>
    <%= link_to "Conference 一覧", public_laboratory_confernces_path(@set_laboratory.id), class:"news-index-link" %>
    <%= "　＞　#{@confernce.title.truncate(30)}" %>
  </div>
  <div class="content-link-path">
    link：<%= link_to @confernce.linkpath.truncate(30), @confernce.linkpath %>
  </div>
</div>
