<div class="col-12 community-cards">
  <% if @communities.size == 0 %>
    <div class="community-around">
      <p>登録がありません</p>
    </div>
  <% end %>
  
    <% @communities.includes([:image_attachment]).each do |community| %>
      <%= link_to public_community_path(community.id) do %>
        <div class="card community-card" style="width: 20rem;">
          <div class="card-image">
            <% if community.image.attached? %>
              <%= image_tag community.image, height: '240', class:"rounded img-raised"%>
            <% else %>
              <%= image_tag asset_path('community-noimage.jpg'), class:"rounded img-raised" %>
            <% end %>
          </div>
          <div class="card-body">
            <h4 class="community-title"><%= community.name %></h4>
            <p class="card-text"><%= community.introduction.truncate(70) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>
