<table class="table col-12">
  <!--Image-->
  <tr class=" user-image">
    <% if @user.profile_image.attached? %>
      <td><%= image_tag @user.profile_image, class:"rounded img-raised"%></td>
    <% else %>
      <td><%= image_tag asset_path('no_image.jpg'), class:"rounded img-raised" %></td>
    <% end %>
  </tr>
  <!--Profile-->
  <tr class="user-introduction">
    <td>
      <h5>
        <%= link_to @user.family_name + @user.given_name, public_user_path(@user.login_id), class:"introduction-name" %>
        <% if @user.official_mark_status %>
          <i class="fas fa-check-circle official_mark"></i>
        <% end %>
      </h5>
    </td>
  </tr>

  <td>
    <div class="flex-type">
      <h6 class="user-follow col-12">follow <%= @user.followings.count %></h6>
    </div>
    <div class="flex-type">
      <h6 class="user-follow follower-count col-12">follower <%= @user.followers.count %></h6>
    </div>
    <%= link_to "一覧", public_user_relationships_path(@user.login_id), class:"badge badge-default follow-link col-12" %>
  </td>

  <tr>
    <td>
      <h6><i class="far fa-bookmark"></i> BookMark</h6>
      <div class="flex-type">
        <h6 class="user-follow follower-count col-12">Paper <%= @favorites.where(deliverable_type: "Paper").count %></h6>
      </div>
      <div class="flex-type">
        <h6 class="user-follow follower-count col-12">Confernce <%= @favorites.where(deliverable_type: "Confernce").count %></h6>
      </div>
      <div class="flex-type">
        <h6 class="user-follow follower-count col-12">Book <%= @favorites.where(deliverable_type: "Book").count %></h6>
      </div>
      <div class="flex-type">
        <h6 class="user-follow follower-count col-12">Event <%= @favorites.where(deliverable_type: "Event").count %></h6>
      </div>
      <%= link_to "一覧", public_user_favorites_path(@user.login_id), class:"badge badge-default follow-link col-12" %>
    </td>
  </tr>

  <tr>
    <td class="user-show-link">
      <%= link_to edit_user_registration_path(current_user.login_id), class:"btn btn-default btn-lg" do %>
        <i class="fas fa-user-cog"> Setting...</i>
      <% end %>
    </td>
  </tr>
</table>