<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>


<!--Paper Show-->
<div class="container container-page">
  <!--Title-->
  <div class="row show-title content-top underline">
    <div class="content-title col-10">
      <h3 class="content-title-name"><%= @paper.title %></h3>
    </div>
    
    <div>
      <%= render "shared/favorite", type: "Paper", deliverable: @paper %>
      <% if user_signed_in? && @user.id == current_user.id%>
        <%= link_to "編集", edit_public_user_user_paper_path(@user.login_id, @paper.id), class:"btn btn-primary content-title-btn" %>
      <% end %>
    </div>

  </div>

  <!--Main-->
  <div class="row rowbox">
    <div class="content-main">
      <p class="content-main-text"><%= @paper.abstract %></p>
      <% if @paper.figure.attached? %>
        <div class="content-main-figure">
          <%= image_tag @paper.figure %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--Link-->
<div class="container content-link">
  <div class="row news-link">
    <%= link_to "Paper 一覧", public_user_user_papers_path(@user.login_id), class:"news-index-link" %>
    <%= "　＞　#{@paper.title.truncate(30)}" %>
  </div>
  <div class="content-link-path">
    <% if @paper.linkpath == nil %>
      link：---
    <% else %>
      link：<%= link_to @paper.linkpath.truncate(30), @paper.linkpath %>
    <% end %>
  </div>
</div>
